header
{
  width: 100%;
  background-color: white;
  position: fixed;
  border-bottom: 1px solid lightgray !important;
}

#logo
{
  width: 150px;
  float: left;
}

#heading
{
  text-align: center;
  color: brown;
  height: 50px;
}

.navigation
{
  text-align: center;
  height: 50px;
}

.navigation li
{
  padding: 10px;
  display: inline;
  float: right;
  font-size: 13px;
}

.navigation h1
{
  padding: 0px 270px 0px 0px;
  display: inline;
  text-align: center;
  color: brown;
}

.grid_4 #mob,#web,#desk
{
  padding-top: 110px;
  width: 300px;
  height: 250px;
}

a
{
  color: green;
  text-decoration: none;
}

a:hover
{
  color: blue;
}

body
{
  background-color: white;
}

section
{
  background-color: lightgray;
}

#herosec P
{
  background-color: lightblue;
  padding: 15PX;
  text-align: justify;
  font-size: 15px;
  line-height: 30px;
}

#heroimg
{
  width: 100%;
  height: 600px;
}

#graph
{
  width: 440px;
  height: 300px;
}

.grid_6 p
{
  font-size: 15px;
}

.foot
{
  width: 100%;
  height: 50px;
  background-color: white;
  border-top: 1px solid lightgray;
}

.foot p
{
  text-align: center;
  padding: 15px;
  color: brown;
}

.sec p
{
  padding-top: 100px;
  padding-bottom: 50px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: white;
  text-align: justify;
  font-size: 15px;
  line-height: 30px;
  color: gray;
}
